.radio-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &>div {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;
    }
}