@use "../../index.scss";

$gameboard-width: calc(100vmin - var(--header-height) - 2rem * 2);
$gameboard-gap: 0.3rem;

$piece-size: 0.75;

$cell-states: playedFrom, playedTo, move, attack, promote, castle, sneak, selected, ready;
$cell-state-colours: #ffd700, #ffd700, #0044ff, #f31818, #10f568, #9b0ba8, #9b0ba8, #ff4500, #20b2aa;

#gameboard-body {
    --padding: 2rem;

    position: relative;

    padding: var(--padding);

    #gameboard {
        $padding: 2.5rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: calc($gameboard-width - $padding * 2);
        aspect-ratio: 1;

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        place-content: center;
        place-items: center;
        gap: $gameboard-gap;

        padding: $padding;

        background-color: var(--background-darker-colour);

        border: 0.2rem solid var(--fore-colour);

        .cell {
            position: relative;

            width: 100%;
            height: 100%;

            background-color: var(--fore-colour);

            transition: transform 500ms, box-shadow 500ms;

            @for $i from 0 to 8 {
                $is-even: $i % 2;
                $from: calc($i * 8 - $is-even);
                $to: calc(($i + 1) * 8 - $is-even);

                &:not(:nth-child(-2n + #{$from})):nth-child(-2n + #{$to}) {
                    background-color: var(--background-colour);

                    &::after {
                        color: var(--fore-colour);
                    }
                }
            }

            @mixin emphasize-cell() {
                transform: scale(0.9);

                &::before,
                &::after {
                    --margin-modifier-left: calc((-0.75 * 1 / 0.9));
                    --margin-modifier-bottom: calc((-0.9 * 1 / 0.9));
                    --scale-modifier: calc(1 / 0.9);
                }
            }

            &:is(:hover, :focus-within) {
                @include emphasize-cell();
            }

            @each $cell-state in $cell-states {

                &.#{$cell-state}-cell {
                    @include emphasize-cell();

                    $cell-state-colour: nth($list: $cell-state-colours, $n: index($list: $cell-states, $value: $cell-state));

                    box-shadow: 0.25rem 0.25rem 0.75rem $cell-state-colour,
                        -0.25rem 0.25rem 0.75rem $cell-state-colour,
                        0.25rem -0.25rem 0.75rem $cell-state-colour,
                        -0.25rem -0.25rem 0.75rem $cell-state-colour,
                    ;
                }
            }

            &:nth-child(8n + 1),
            &:nth-child(n + #{calc(8 * 8 - 8 + 1)}) {
                --margin-modifier-left: -0.75;
                --margin-modifier-bottom: -0.9;
                --scale-modifier: 1;


                &::before,
                &::after {
                    font-weight: bold;

                    position: absolute;

                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    place-items: center;

                    transition: left 500ms, bottom 500ms, transform 500ms;
                }

                &::before {
                    top: 50%;
                    left: calc($padding * var(--margin-modifier-left));
                    transform: translateY(-50%) scale(var(--scale-modifier));
                }

                &::after {
                    left: 50%;
                    bottom: calc($padding * var(--margin-modifier-bottom));
                    transform: translateX(-50%) scale(var(--scale-modifier));
                }
            }

            &:nth-child(8n + 1)::before {
                content: attr(data-number);
            }

            &:nth-child(n + #{calc(8 * 8 - 8 + 1)})::after {
                content: attr(data-character);
            }

            img {
                width: calc($piece-size * 100%);
                aspect-ratio: 1;

                filter: drop-shadow(0.35rem 0.35rem 0 black);
            }

            &.dragged-cell img {
                display: none;
            }
        }
    }
}

#dragged-piece {
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translate(-50%, -50%);

    width: calc(($gameboard-width - $gameboard-gap * 2) / 8 * $piece-size);
    aspect-ratio: 1;

    filter: drop-shadow(0.35rem 0.35rem 0 black);

    pointer-events: none;

    z-index: 10;
}

@media (min-width: index.$first-screen-width) {

    #gameboard {
        left: var(--padding) !important;
        transform: translateY(-50%) !important;
    }
}