#preference-page {

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: var(--padding);

        &>section {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &#binary-section>div {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                place-content: start;
                place-items: start;
                gap: inherit;
            }

            h1 {
                font-size: 175%;
            }

            h2 {
                font-size: 125%;
            }
        }
    }
}