.custom-button-displayer {
    place-content: center;
    place-items: center;
    gap: 2rem;

    &[data-display=flex] {
        display: flex;

        &[data-flex-direction=row] {
            flex-direction: row;
        }

        &[data-flex-direction=column] {
            flex-direction: column;
        }
    }

    &[data-display=grid] {
        width: 100%;

        display: grid;

        .custom-button {
            width: 100%;
        }
    }
}