@use "../../index.scss";

#play-page {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;

    padding: var(--padding);

    form {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        padding: 3rem;

        background-color: var(--background-darker-colour);
        border: 0.2rem solid var(--background-colour);
        border-radius: 2rem;

        .custom-button-displayer {
            place-self: end;
        }
    }
}

@media (min-width: index.$first-screen-width) {

    #play-page {

        form {
            width: min-content;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-content: center start;
            place-items: center start;

            &>h1,
            &>section:first-of-type,
            .custom-button-displayer {
                grid-column: 1 / -1;
            }

            .radio-group {
                min-width: 30rem;
            }
        }
    }
}