@use "../../index.scss";

#not-found-404-page {
    --padding: 5rem;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;

    padding: var(--padding);

    &>section {
        display: flex;
        flex-direction: column;
        place-content: start;
        place-items: start;
        gap: 2rem;
    }
}