@use "../../index.scss";

#main-header {
    $padding: 2rem;
    $border-bottom-thickness: 0.2rem;

    position: sticky;
    top: 0;
    height: calc(var(--header-height) - $padding * 2);

    display: grid;
    grid-template-columns: auto 1fr;
    place-content: center;
    place-items: center;
    gap: 2rem;

    padding: calc($padding - $border-bottom-thickness);

    background-color: var(--half-transparent);
    background-color: var(--background-darker-colour);

    border-bottom: var(--background-colour) $border-bottom-thickness solid;

    z-index: 3;

    #logo {
        --font-border-thickness: 0.09em;

        font-size: min(100%, 3vw);
        text-decoration: none;

        width: min-content;

        display: flex;
        place-content: center stretch;
        place-items: center stretch;

        padding: 0.2rem;

        border-radius: 1rem;

        transition: background-color 250ms, transform 500ms;

        cursor: pointer;

        &:is(:hover, :focus-within) {
            transform: scale(1.05);

            background-color: var(--background-colour);

            h1 {
                @include index.text-shadow($thickness: var(--font-border-thickness), $colour: var(--background-colour));
            }
        }

        img {
            height: min(5rem, 10vw);
            aspect-ratio: 1;
        }

        h1 {
            position: relative;
            left: -1rem;

            pointer-events: none;

            transition: text-shadow 250ms;

            @include index.text-shadow($thickness: var(--font-border-thickness), $colour: var(--background-darker-colour));
        }
    }
}

@media (min-width: index.$first-screen-width) {

    .hamburger-button {
        display: none;
    }
}