@use "../../index.scss";

#home-page {
    --padding: 5rem !important;

    display: grid;

    padding: var(--padding);

    #chess-wallpaper {
        position: fixed;
        inset: 0;

        z-index: -1;

        img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
        }
    }

    &>section {
        min-height: inherit;

        display: flex;
        flex-direction: column;
        place-content: start center;
        place-items: start center;
        gap: 2rem;

        .custom-button-displayer {
            place-self: end;
        }
    }
}

@media (min-width: index.$first-screen-width) {

    #home-page {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}